#main#
[submodule "mineguis"]
	path = lib/mineguis
	url = https://gitlab.com/jacksa/mineguis
[submodule "minecord"]
	path = lib/minecord
	url = https://github.com/nikochir/minecord
[submodule "minetime"]
	path = lib/minetime
	url = https://github.com/nikochir/minetime
#endf#