#main#
[submodule "lib/mineguis"]
	path = lib/mineguis
	url = https://gitlab.com/jacksa/mineguis
[submodule "lib/minecord"]
	path = lib/minecord
	url = https://github.com/nikochir/minecord
[submodule "lib/minetime"]
	path = lib/minetime
	url = https://github.com/nikochir/minetime
#endf#